NET "CLK"    LOC = "V10";
NET "DIN(3)" LOC = "M8";
NET "DIN(2)" LOC = "V9";
NET "DIN(1)" LOC = "T9";
NET "DIN(0)" LOC = "T10";
NET "BTN"    LOC = "D9";
NET "Q(6)"   LOC = "T17";
NET "Q(5)"   LOC = "T18";
NET "Q(4)"   LOC = "U17";
NET "Q(3)"   LOC = "U18";
NET "Q(2)"   LOC = "M14";
NET "Q(1)"   LOC = "N14";
NET "Q(0)"   LOC = "L14";
NET "AN0"    LOC = "N16";
NET "AN1"    LOC = "N15";
NET "AN2"    LOC = "P18";
NET "AN3"    LOC = "P17";